
ul.ul_arrow{
	position: relative;
  list-style: none;
	font-size: 17px;

}
ul.ul_arrow li{
	margin: 10px;
  	position: relative;
}
ul.ul_arrow li::before {
  position: relative;
  left: -20px;
  content: "\f101";
  font-family: FontAwesome;
  color: red;
  margin-right: 5px;
  font-size: 20px;
  display: inline-block;
  position: absolute;
}

.margin{
	margin-top: 30px;
}

p{
  font-size: 16px;
}