.map{
	width: 100%;
	height: 500px;
}

#map-container { 
  	height:500px;
}

.contact-info{
	height: 40px;
	margin-bottom: 8px;
	position: relative;
}

.contact-addon{
	color:white;
	float:left;
	padding:8px;
	width:8%;
	background:#DE1B1B;
	text-align:center;
	height: 40px;
	width: 45px;
	border-radius: 4px 4px 4px 4px;
}

.contact-info-text{
	font-size: 18px;
	display: block;
	position: absolute;
	top: 50%;
    transform: translateY(-50%);
    left: 55px;
    right: 0;
    margin: 0;
}